body {
   background-image: url('/img/background.png');
   background-size: calc(100%) auto;
}

a {
   color: #995527;
}

a:hover {
   color: #4E2E18;
}

a:active,
a:focus {
   color: #4E2E18;
}

.form-control:focus {
   border-color: #995527;
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(153, 85, 39, 0.6);
}

.bootstrap-switch.bootstrap-switch-focused {
   border-color: #995527;
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(153, 85, 39, 0.6);
}


/* HEADER BAR */

.header {
   background-color: #232323;
   height: 86px;
   padding: 5px 0 11px;
   position: absolute;
   top: 0;
   width: 100%;
}

.headerNotConnected {
   text-align: center;
}

.logo {
   margin-right: 10px;
}

.title {
   float: left;
   margin-right: 75px;
}

.btnHeader,
.btnHeaderSelected,
.btnHeader:hover,
.btnHeaderSelected:hover,
.btnHeader:focus,
.btnHeaderSelected:focus {
   font-size: 18px;
   font-weight: bold;
   margin-right: 10px;
}

.btnHeader {
   color: #FCD1B5;
}

.btnHeaderSelected,
.btnHeader:hover,
.btnHeaderSelected:hover,
.btnHeader:focus,
.btnHeaderSelected:focus {
   color: #995527;
}

.headerLinks {
   float: left;
   margin-top: 16px;
}

.headerRight {
   color: #DEDEDE;
   float: right;
   margin-top: 21px;
}

.loginInformation {
   color: #FCD1B5;
   font-size: 12px;
}

.btnEasygoing {
   background-color: #e5ac86;
   border: 1px solid #5a2706;
   color: #5a2706;
}

.btnEasygoing:hover,
.btnEasygoing.active,
.btnEasygoing:active {
   background-color: #995527;
   color: #fcd1b5;
}

.btnLogout {
   margin-left: 10px;
}


/* CONTENT */

.mainHomeContainer, .mainContainer {
   height: calc(100vh - 50px);
   margin-bottom: 50px;
}

.mainContainer {
   padding-top: 86px;
   transition: padding-top 300ms, height 300ms;
}

.noPaddingTop {
   padding-top: 0;
   height: calc(100vh - 50px);
}

.mainContent {
   background-color: #F0F0F0;
   border-left: 1px solid #5A2706;
   border-right: 1px solid #5A2706;
   height: 100%;
   overflow: auto;
   padding: 30px 30px 80px;
   position: relative;
}

.pageTitle {
   margin-bottom: 70px;
}


/* FOOTER */

.footerWrapper {
   bottom: 0;
   height: 50px;
   position: fixed;
   width: 100%;
}

.footer {
   background-color: #212121;
   color: #fcd1b5;
   height: 100%;
   padding: 15px;
}

.about, .help {
   color: #fcd1b5;
   float: right;
   text-decoration: underline;
}

.help {
   margin-right: 30px;
}

.footerLinkSelected, .about:hover, .help:hover {
   color: #995527;
}


/* HOME PAGE */
.homePage {
   text-align: center;
}

.homePageTitle {
   display: none;
   height: 200px;
   margin: 40px auto 100px;
   position: relative;
   width: 780px;
}

.homePageLogo {
   left: -140px;
   opacity: 0;
   position: absolute;
   top: 60px;
   transition: opacity 800ms, left 1000ms, top 800ms;
}

.homePageLogoMoved {
   left: -15px;
   opacity: 1;
   top: -15px;
}

.homePageLogIn {
   background-color: white;
   border: 1px solid #e5ac86;
   border-radius: 3px;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
   display: none;
   margin: 0 auto 50px;
   padding: 0 20px 20px;
   text-align: left;
   width: 600px;
}

.loginImg {
   border-radius: 19px;
   height: 38px;
   margin-right: 6px;
   width: 38px;
}

.loginUsername {
   margin-top: 20px;
}

.formInput {
   margin-bottom: 15px;
   width: 100%;
}

.formInput label {
   margin-bottom: 2px;
}

.passwordForgotten {
   float: right;
}

.loginParameters {
   height: 34px;
   margin: 30px 0;
   width: 100%;
}

.rememberMe {
   float: left;
   margin-top: 7px !important;
   padding: 0 !important;
}

.rememberMeChk {
   margin-top: 2px !important;
}

.btnSignIn {
   float: right;
   width: 100px;
}

.register {
   padding: 3px 0 0;
}


/* REGISTRATION */
.registrationDiv {
   margin: 0 auto 50px;
   padding: 0 20px 20px;
   text-align: left;
   width: 800px;
}

.registrationPicture {
   margin-bottom: 30px;
   margin-top: 30px;
}

.registrationParameters {
   margin-bottom: 40px;
}

.registrationDiv .input-group {
   margin-top: 20px;
}

.registrationChk {
   margin-top: 8px !important;;
}

.btnCancelRegistration {
   float: left;
}


/* FORGOT PASSWORD */
.passwordForgottenDiv {
   margin: 50px auto;
   padding: 0 20px 20px;
   text-align: left;
   width: 800px;
}

.passForgHr {
   margin-bottom: 50px;
}

.passwordForgottenDiv .input-group {
   margin-bottom: 50px;
}

.btnCancelForgPass, .btnSendForgPass {
   width: 170px;
}

.btnCancelForgPass {
   float: left;
}

.btnSendForgPass {
   float: right;
}


/* ABOUT PAGE */
.aboutTitle {
   padding: 0 !important;
}

.aboutUsersWrapper {
   text-align: center;
}

.aboutUser {
   float: none;
   display: inline-block;
   height: 250px;
   margin-bottom: 20px;
   width: 360px;
}

.aboutUser h3 {
   font-size: 22px;
}


/* HELP */
.helpExplanations {
   background-color: #f5f5f5;
   border: 1px solid #ccc;
   border-radius: 4px;
   color: #333;
   display: block;
   font-size: 14px;
   margin: 0 0 30px;
   padding: 20px;
}

.helpExplanations li:not(:first-child) {
   margin-top: 10px;
}


/* PROJECTS LIST */

.projectsHeaderTable {
   margin-bottom: 80px;
   margin-top: 20px;
   width: 100%;
}

.projectsTitle {
   margin: 0;
}

.newProject {
   float: right;
}

.newProjectImg {
   height: 30px;
   margin-left: 10px;
   width: 30px;
}

.projectsToolsTable {
   width: 100%;
}

.tableListProjects {
   margin-bottom: 30px;
   margin-top: 15px;
   width: 100%;
}

.tableListProjects td {
   padding: 10px;
}

.tableListProjects tr {
   border: 1px solid #5A2706;
}

.projectLine {
   background-color: white;
}

.projectLine,
.projectLineSelected {
   cursor: pointer;
   font-size: 20px;
   font-weight: bold;
}

.projectLine:hover {
   background-color: #e5ac86;
}

.projectLineSelected {
   color: white;
   background-color: #995527;
}

.imgProject {
   border: 1px solid #5a2706;
   border-radius: 25px;
   margin-right: 15px;
}

.projectLine td,
.projectLineSelected td {
   max-width: 0;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.projectTitle {
   max-width: 40%;
   min-width: 20%;
   width: 40%;
}

.expandArrow {
   text-align: center;
   max-width: 20%;
   min-width: 20%;
   width: 20%;
}

.expandArrow img {
   display: none;
}

.rightProjectTd {
   text-align: right;
}

.projectLink:focus,
.projectLink:active {
   outline: 0 none;
}

.editProjectIcon, .managerIcon, .gotoIcon {
   height: 40px;
   width: 40px;
   transition: height 200ms, width 200ms;
}

.managerIcon {
   cursor: default;
}

.editProjectIcon:hover, .gotoIcon:hover, .managerIcon:hover {
   height: 50px;
   width: 50px;
}

.projectDetails,
.divProjectDetails {
   display: none;
}

.formProjectDetails {
   margin-top: 40px;
}

.projectName,
.projectDescriptionInList {
   width: 70%;
}

.projectDescriptionInList,
.projectDescription {
   resize: none;
}

.membersTable {
   width: 70%;
}

.membersTable td,
th {
   border: 1px solid black;
   padding: 8px;
}

.membersTable th {
   background-color: #E2E2E2;
}

.specializationsList {
   margin: 0;
   padding-left: 20px;
}

.checkboxManager {
   text-align: center;
}

.linkToProject {
   font-weight: bold;
   margin-top: 50px;
}


/* ADD/EDIT A PROJECT */

.error {
   margin-bottom: 50px;
}

.logoInformation {
   font-size: 90%;
   font-style: italic;
   margin-left: 3px;
}

.formSending {
   margin-top: 50px;
}

.mandatoryFields {
   font-size: 13px;
}

.btnCreate,
.btnCancel {
   float: right;
   align-items: flex-end;
}

.btnCancel {
   margin-right: 10px;
}

.projectLogo {
   border: 1px solid #5a2706;
   height: 150px;
   margin-right: 75px;
   width: 150px;
}

.specTitle {
   margin-bottom: 30px;
   margin-top: 20px;
}

.newSpecButton {
   cursor: pointer;
}

.newSpecImg {
   height: 20px;
   width: 20px;
}

hr {
   display: block;
   height: 1px;
   border: 0;
   border-top: 1px solid #ccc;
   margin: 1em 0;
   padding: 0;
}


/** HISTORICAL **/

.projectHeader {
   margin-top: 15px;
   height: 288px;
   width: 100%;
}

.leftPart {
   float: left;
   padding-top: 80px;
   width: 40%;
}

.rightPart {
   float: right;
   width: 60%;
}

.historicalTab, .newsFeedTab {
   -moz-border-bottom-colors: none;
   -moz-border-left-colors: none;
   -moz-border-right-colors: none;
   -moz-border-top-colors: none;
   background-color: white;
   border-color: -moz-use-text-color #ddd #ddd;
   border-image: none;
   border-width: medium 1px 1px;
   box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
   overflow: auto;
   position: relative;
}

.historicalTab {
   border-style: none solid solid;
   height: 238px;
}

.newsFeedTab {
   border-style: none solid none solid;
   height: 179px;
}

.tabsMain li:not(.historicalTitle) {
   float: right;
}

.firstTab {
   margin-right: 25px;
}

.historicalTitle {
   font-size: 22px;
   margin-left: 10px;
   padding-top: 7px;
   text-decoration: underline;
}

.eventElem {
   background-color: #ffeadb;
   border: 1px solid black;
   border-radius: 3px;
   font-size: 12px;
   margin: 4px;
   padding: 5px;
}

.eventElem:hover {
   background-color: #e5ac86;
   cursor: pointer;
}

.eventTable {
   width: 100%;
}

.eventTable td {
   padding: 2px !important;
}

.eventImgTd {
   width: 44px;
}

.eventImg {
   height: 30px;
   margin-right: 10px;
   width: 30px;
}

.eventDate {
   float: left;
}

.expandEventImg {
   float: right;
   height: 17px;
   width: 17px;
}

.eventMessage {
   color: #995527;
}

.eventDetailsRow {
   display: none;
}

.eventDetails {
   display: none;
}

.eventDetailsTable {
   width: 100%;
}

.eventDetailsTable td, th {
   border: 0;
   padding: 3px 15px !important;
   vertical-align: top;
}

.eventDetailsTable td:not(.eventDetailsTaskAttribute) {
   max-width: 40%;
}

.eventDetailsTaskAttribute {
   font-weight: bold;
   max-width: 20%;
   min-width: 20%;
   width: 20%;
}


/** ====== BOARD ====== **/

.projectDashboardIntro {
   height: 70px;
   width: 100%;
}

.projectDashboardTitle {
   float: left;
}

.editProjectDashboardLink {
   float: right;
}

.editProjectDashboardIcon {
   height: 40px;
   width: 40px;
   margin-top: 20px;
}

.editProjectDashboardLink:focus,
.editProjectDashboardLink:active {
   outline: 0 none;
}

.dashboardButtonIcon {
   float: right;
   height: 40px;
   margin-right: 10px;
   margin-top: 20px;
   width: 40px;
}

.boardButtons {
   height: 35px;
   margin-bottom: 20px;
   margin-top: 35px;
   width: 100%;
}

.dashboardViewType {
   float: left;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-easygoing-on {
  color: #fff;
  background: #995527;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-easygoing-off {
   color: #5a2706;
   background: #ffeadb;
}

.dashboardShowSpecializations {
   float: right;
   margin-right: 15px;
}

.dashboardShowSpecializationsLabel {
   float: left;
   margin-right: 10px;
   margin-top: 6px;
}

.board,
.board-header {
   display: table;
   margin: 0;
   padding: 0;
   width: 1080px;
}

.board-section,
.board-header-section,
.board-first-column {
   display: table-cell;
   margin: 0;
   border: 1px solid #666;
   padding: 5px;
   vertical-align: middle;
   width: 270px;
}

.board-header {
   margin-bottom: 10px;
   background-color: #CCC;
}

.droppable {
   border: 1px dashed #666;
}

.board-section,
.board-header-section > h1 {
   margin: 0;
   padding: 0;
   font-size: 15pt;
   text-align: center;
}

.board-task,
.board-user {
   margin: auto;
   display: inline-block;
   vertical-align: top;
   margin: 10px 5px;
   padding: 10px;
   width: 120px;
   height: 100px;
   color: black;
   background: #ff8;
   cursor: move;
   text-align: center;
   font-size: 12px;
   font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   box-shadow: 2px 2px 2px #eee;
   color: #333;
   border: 1px #E8Ds47 solid;
   -moz-box-shadow: 0px 0px 3px 1px #333333;
   -webkit-box-shadow: 0px 0px 3px 1px #333333;
   box-shadow: 0px 0px 3px 1px #333333;
   background: #fefdca;
   /* Old browsers */
   background: -moz-linear-gradient(top, #fefdca 0%, #f7f381 100%);
   /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefdca), color-stop(100%, #f7f381));
   /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top, #fefdca 0%, #f7f381 100%);
   /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top, #fefdca 0%, #f7f381 100%);
   /* Opera11.10+ */
   background: -ms-linear-gradient(top, #fefdca 0%, #f7f381 100%);
   /* IE10+ */
   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fefdca', endColorstr='#f7f381', GradientType=0);
   /* IE6-9 */
   background: linear-gradient(top, #fefdca 0%, #f7f381 100%);
   /* W3C; A catch-all for everything else */
   position: relative;
}

.board-user {
   cursor: default;
}

.task-details {
   bottom: 10px;
   left: 0;
   position: absolute;
   width: 100%;
}

.board-first-column {
   text-align: center;
   vertical-align: middle;
}

.board-first-column img {
   width: 60px;
   vertical-align: middle;
}

.high-priority {
   /* Old browsers */
   background: -moz-linear-gradient(top, #fecaca 0%, #f78181 100%);
   /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fecaca), color-stop(100%, #f78181));
   /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top, #fecaca 0%, #f78181 100%);
   /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top, #fecaca 0%, #f78181 100%);
   /* Opera11.10+ */
   background: -ms-linear-gradient(top, #fecaca 0%, #f78181 100%);
   /* IE10+ */
   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fecaca', endColorstr='#f78181', GradientType=0);
   /* IE6-9 */
   background: linear-gradient(top, #fecaca 0%, #f78181 100%);
}

.high-priority a {
   color: #550000;
}

.medium-priority {
      /* Old browsers */
   background: -moz-linear-gradient(top, #fefdca 0%, #f7f381 100%);
   /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefdca), color-stop(100%, #f7f381));
   /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top, #fefdca 0%, #f7f381 100%);
   /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top, #fefdca 0%, #f7f381 100%);
   /* Opera11.10+ */
   background: -ms-linear-gradient(top, #fefdca 0%, #f7f381 100%);
   /* IE10+ */
   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fefdca', endColorstr='#f7f381', GradientType=0);
   /* IE6-9 */
   background: linear-gradient(top, #fefdca 0%, #f7f381 100%);
}

.low-priority {
      /* Old browsers */
   background: -moz-linear-gradient(top, #cafeca 0%, #81f786 100%);
   /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cafeca), color-stop(100%, #81f786));
   /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top, #cafeca 0%, #81f786 100%);
   /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top, #cafeca 0%, #81f786 100%);
   /* Opera11.10+ */
   background: -ms-linear-gradient(top, #cafeca 0%, #81f786 100%);
   /* IE10+ */
   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cafeca', endColorstr='#81f786', GradientType=0);
   /* IE6-9 */
   background: linear-gradient(top, #cafeca 0%, #81f786 100%);
}

.low-priority a {
   color: #0F4800;
}

.imgMember {
   border: 1px solid #e5b494;
   border-radius: 30px;
}

.memberName {
   font-size: 20px;
   margin-bottom: 0;
}

.memberUsername {
   font-size: 14px;
}

.membersSpecializations {
   font-size: 12px;
   font-style: italic;
   margin-bottom: 10px;
}

.add-user:hover {
   cursor: pointer;
}

.add-user-selected {
   background-color: #E5AC86;
}

.spe {
   margin: 10px;
}

/** ===== FIN BOARD ===== **/

/* TASK DETAILS */
.taskDetailsTable {
   width: 100%;
}

.taskDetailsTable td {
   padding: 10px;
}

.taskDetailsContentTable {
   max-width: 40%;
   width: 40%;
}

.attributeName {
   font-weight: bold;
   padding-right: 20px !important;
   width: 20%;
}

.taskDescription {
   text-align: justify;
}

.newsFeed {
   padding-left: 10% !important;
   vertical-align: top;
}

.newsFeedInfo {
   color: #5a2706;
   font-weight: bold;
}

.newsFeedInputs {
   box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.05);
}

.newsFeedInputs input, .newsFeedInputs button, .imgType {
   border-radius: 0;
   height: 34px;
}

.eventSelectImg {
   height: 20px;
   width: 20px
}

.btnTag {
   border-right: medium none;
   min-width: 125px;
}

.elemType {
   cursor: pointer;
}
