/* HEADER BAR */
.header {
   background-color: #212121;
   padding: 10px;
   width: 100%;
}

.title {
   color: white;
   float: left;
   font-size: 22px;
   font-weight: bold;
   margin-right: 75px;

}

title:focus, .title:hover {
   color: white;
   text-decoration: none;
}


.btnHeader {
   color: #DEDEDE;
   font-size: 15px;
   font-weight: bold;
}

.btnHeaderSelected, .btnHeader:hover, .btnHeaderSelected:hover, .btnHeader:focus, .btnHeaderSelected:focus {
   color: #7AC7A8;
   font-size: 15px;
   font-weight: bold;
   text-decoration: none;
}

.headerRight {
   color: #DEDEDE;
   float: right;
}

.loginInformation {
   font-size: 12px;
}

.btnEasygoing {
   background-color: #7AC7A8;
   border-color: #75B393;
   color: #000;
}

.btnLogout {
   margin-left: 10px;
}


/* CONTENU */
.content {
   border-left: 1px solid black;
   border-right: 1px solid black;
   padding: 5px 30px 50px 30px;
}

.pageTitle {
    margin-bottom: 50px;
}


/* FOOTER */
.footer {
   background-color: #212121;
   color: white;
   padding: 15px;
}

.about {
   color: white;
   float: right;
   text-decoration: underline;
}

.about:hover {
    color: #7AC7A8;
}


/* PROJECTS LIST */
.newProject {
    float: right;
}

.tableListProjects {
    margin-top: 15px;
    width: 100%;
}

.tableListProjects td {
    padding: 10px;
}

.tableListProjects tr {
    border: 1px solid black;
}

.projectLine, .projectLineSelected {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.projectLine:hover {
    background-color: #95BCF2;
}

.projectLineSelected {
    color: white;
    background-color: #3975C7;
}

.imgProject {
    margin-right: 15px;
}

.projectLine td, .projectLineSelected td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.projectTitle {
    max-width: 40%;
    min-width: 20%;
    width: 40%;
}

.expandArrow {
    text-align: center;
    max-width: 20%;
    min-width: 20%;
    width: 20%;
}

.expandArrow img {
    display: none;
}

.managerTd {
    text-align: right;
}

.projectDetails, .divProjectDetails {
    display: none;
}

.formProjectDetails {
    margin-top: 40px;
}

.projectName, .projectDescriptionInList {
    width: 70%;
}

.projectDescriptionInList, .projectDescription {
    resize: none;
}

.membersTable td, th {
    border: 1px solid black;
    padding: 8px;
}

.membersTable th {
    background-color: #E2E2E2;
}

.checkboxManager {
    text-align: center;
}

.linkToProject {
    font-weight: bold;
    margin-top: 50px;
}

/* ADD A PROJECT */
.error {
    margin-bottom: 50px;
}

.logoInformation {
    font-size: 90%;
    font-style: italic;
    margin-left: 3px;
}

.formSending {
    margin-top: 50px;
}

.mandatoryFields {
    font-weight: bold;
}

.btnCreate, .btnCancel {
    float: right;
}

.btnCancel {
    margin-right: 10px;
}
